.centered {
  display: flex;
  flex-direction: column;
  align-content: column;
}
.flexCent {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .btn {
    display: flex;
    flex-direction: column;
    align-content: column;
    width: 100%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: red;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Titillium Web';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  font-family: 'Titillium Web';
}
img {
  max-width: 100%;
}
.container {
  width: 100%;
}
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}
.logo {
  margin: 0 0 0 0.45em;
}
.logo a {
  color: #1c1816;
}
.logo,
.navigation {
  list-style: none;
  text-transform: uppercase;
}
.logo a,
.navigation a {
  text-decoration: none;
  letter-spacing: 0.45rem;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo img {
  width: 30%;
}
.navigation a {
  font-family: 'Titillium Web';
  display: block;
  padding: 1em;
  color: white;
  font-size: 1.9rem;
  /*Changed font size to have it match Vlads, not sure why it's different we have the same nav code*/
}
.navigation a:hover {
  background: #00ace6;
}
/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
  .logo {
    margin: 0;
  }
  .navigation {
    width: 100%;
    justify-content: space-around;
  }
}
/* ****** ****** */
@media all and (max-width: 500px) {
  .logo {
    margin: 0.25em 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    /* align the logo to the left side of 'flex-container' */
  }
  .navigation {
    flex-direction: column;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
.footer {
  width: 100%;
  background: black;
}
.footer p {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  padding: 20px;
}
.pageTitle {
  text-align: center;
  color: white;
  background: red;
  font-size: 5rem;
}
.home {
  margin: 0 5%;
  max-width: 90%;
}
.home .marketLogo img {
  margin: 20px 0 20px 0;
  /*DON'T WANT ANY MARGIN ON TOP*/
  width: 100%;
}
.home .content-section {
  margin: 3% 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.home .content-section #imgAustin-Lynes {
  border-radius: 50%;
}
.home .content-section #imgDavid-Betts {
  border-radius: 50%;
}
.home .content-section #imgDavid-Ray {
  border-radius: 50%;
}
.home .content-section #imgFabricio-Bezerra {
  border-radius: 50%;
}
.home .content-section #imgVladyslav-Horbachenko {
  border-radius: 50%;
}
.home .content-section #imgLuis-Martinez {
  border-radius: 55%;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
.home .content-section .text-content h2 {
  color: white;
  font-size: 5rem;
  font-family: 'Titillium Web';
}
.home .content-section .text-content p {
  font-size: 3.4rem;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 49%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
    margin-bottom: 5%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v8/NaPecZTIAOhVxoMyOr9n_E7fdMPmCA.ttf) format('truetype');
}
