
.pageTitle{
  text-align: center;
  color:white;
  background: red;
  // border: 2px solid orange;
  font-size: 5rem;
  // margin-bottom: 2px;
}

// .pageTitleBtm{
//   text-align: center;
//   color:white;
//   background: pink;
//   border: 2px solid orange;
//   font-size: 7rem;
//   margin-bottom: 2px;
// }



.home {
margin: 0 5%;
max-width: 90%;
    .marketLogo{
      img {
        margin: 20px 0 20px 0; /*DON'T WANT ANY MARGIN ON TOP*/
        width: 100%;
        // height: 1000px;
        // background-color: orange;
      }
      // h2{
      //   font-size: 1rem;
      // }
    }
    
  
    .content-section {
      margin: 3% 3%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  
      // @media(max-width:499px){
        // background-color: palegreen;
      // }
      #imgAustin-Lynes{
        border-radius: 50%;
      }
      #imgDavid-Betts{
        border-radius: 50%;
      }
      #imgDavid-Ray{
        border-radius: 50%;
      }
      #imgFabricio-Bezerra{
        border-radius: 50%;
      }
      #imgVladyslav-Horbachenko{
        border-radius: 50%;
      }
      #imgLuis-Martinez{
        border-radius: 55%;
      }
      .text-content {
        h2{
          color: white;
          font-size: 5rem;
          font-family: 'Titillium Web', ;

        }
        p{
          // color:green;
          font-size: 3.4rem;
        }
        width: 48%;
        padding-right: 1%;
  
        @media @mobile{
          // .centered();
          width: 100%;
        }
      }
  
      .img-content {
        width: 49%;
        // padding-left: 1%;
        
        @media @mobile{
          width: 100%;
          margin-bottom: 5%;
        }
  
        img {
          border-radius: 10px;
        }
      }
    }
  
    .inverse-content {
      padding-bottom: 30px;
      // border-bottom: 2px dashed @navigation-border;
  
      .text-content {
        padding-left: 1%;
        padding-right: 0;
      }
  
      .img-content {
        padding-right: 1%;
        padding-left: 0;
      }
    }
  
    .content-destination {
      width: 75%;
      margin: 0 auto 30px;
      @media @mobile{
        // .centered();
        width:100%;
        }
      img {
        border-radius: 10px;
      }
    }
  
    .content-pick {
        
      padding-top: 30px;
      // border-top: 2px solid black;      
      display: flex;
      justify-content: space-evenly;
      // @media @mobile{
        // .centered();
        // }
      // .destination {
      //   width: 30%;
      //   margin-bottom: 30px;
      //   @media @mobile{
      //     width: 100%;
          // }
      }
    
    
}